{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Home Page</title>
{% endblock %}

{% block content %}

      
        <div class="jumbotron">
            <h1><center>Welcome to Rashmi's Home page</center></h1>
           <center> 
               <div class="a"><img src="{% static 'images/IMG_9803-2.JPG' %}" alt="No Image Found" height="200px" width="200px" class="a"></div>
            </center>
            <p><center>Hi I'm Rashmi Kattimani</center></p>

        </div>

      </div>

      <h1 align="center"><u>Rashmi's Gallery</u></h1>
</br>
<marquee bgcolor="yellow">Wallpaper Gallery</marquee></br></br>

<img src="https://images.unsplash.com/photo-1535868463750-c78d9543614f?ixlib=rb-1.2.1&w=1000&q=80" height="300", width="390">
<img src="https://images.unsplash.com/photo-1488554378835-f7acf46e6c98?ixlib=rb-1.2.1&w=1000&q=80" height="300", width="390">
<img src="https://images.unsplash.com/photo-1579298245158-33e8f568f7d3?ixlib=rb-1.2.1&w=1000&q=80" height="300", width="390">
</br></br>
<img src="https://images.unsplash.com/photo-1529346378633-c2b2a059c367?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" height="300", width="390">
<img src="https://images.unsplash.com/photo-1557800636-894a64c1696f?ixlib=rb-1.2.1&w=1000&q=80" height="300", width="390">
<img src="https://images.unsplash.com/photo-1523590589308-0d75c7389d38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" height="300", width="390">
</br></br>
<img src="https://images.unsplash.com/photo-1527694632654-7c9e115b2fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" height="300", width="390">
<img src="https://images.unsplash.com/photo-1530103862676-de8c9debad1d?ixlib=rb-1.2.1&w=1000&q=80" height="300", width="390">
<img src="https://images.unsplash.com/photo-1433888104365-77d8043c9615?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" height="300", width="390">

{% endblock %}