<!-- navbar -->
<div class="container">
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'myapp:profile' %}">Profile</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'myapp:contact' %}">Contact</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'myapp:signup' %}">Signup</a>
          </li>
        
      </ul>
</div>